<section class="content">
    <section class="widget">
        <header>
            <span class="icon">&#128213;</span>
            <hgroup>
                <h1>Disciplinas</h1>
                <h2>Disciplinas cadastradas</h2>
            </hgroup>

        </header>
        <div class="content no-padding timeline">
            <% @dashboard_disciplines.each do |discipline| %>
                <div class="tl-post">
                    <span class="icon">&#128213;</span>
                    <p>
                      <%= link_to "#{discipline.noon? ? 'Tarde' : 'Noite'} - #{discipline.name}",  edit_dashboard_discipline_path(discipline)%>
                        <span><%= discipline.code %></span>
                    </p>
                </div>
                <% end %>
        </div>
                <div class="gutter">
            <div class="col-lg-12">
               <div class="portal_pagination">
                <%= will_paginate @dashboard_disciplines, :previous_label => 'Anterior', :next_label => 'Próximo'%>
              </div>
            </div>            
        </div>
    </section>
</section>