<div class="container">
    <!-- container -->

    <div class="row no-gutter">
        <!-- row -->

        <div class="col-lg-4 col-md-4">
            <!-- widgets column left -->

            <div class="col-padded col-naked">

                <ul class="list-unstyled clear-margins">
                    <!-- widgets -->

                    <li class="widget-container widget_nav_menu">
                        <!-- widgets list -->

                        <h1 class="title-widget">Contatos</h1>

                        <div itemscope itemtype="http://data-vocabulary.org/Organization">

                            <h2 class="title-median m-contact-subject" itemprop="name">Universidade Católica de Pernambuco</h2>

                            <div class="m-contact-address" itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                                <span class="m-contact-street" itemprop="street-address">Rua do Principe, 526</span>
                                <span class="m-contact-city-region"><span class="m-contact-city" itemprop="locality">Boa Vista, Recife</span>, <span class="m-contact-region" itemprop="region">PE</span></span>
                                <span class="m-contact-zip-country"><span class="m-contact-country" itemprop="country-name">CEP: 50050-900</span></span>
                            </div>

                            <div class="m-contact-tel-fax">
                                <span class="m-contact-tel">Tel: <span itemprop="tel">+55 (81) 2119-4000</span></span>
                            </div>

                        </div>

                        <div class="social-icons">

                            <ul class="list-unstyled list-inline">

                                <li><a href="mailto:masb@unicap.br" title="Contato"><i class="fa fa-envelope"></i></a></li>
                                <li><a href="http://www.twitter.com/unicap" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/catolicapernambuco/" title="Facebook"><i class="fa fa-facebook"></i></a></li>

                            </ul>

                        </div>

                    </li>

                </ul>

            </div>

        </div>
        <!-- widgets column left end -->

        <div class="col-lg-4 col-md-4">
            <!-- widgets column center -->
        
            <div class="col-padded col-naked">

                <ul class="list-unstyled clear-margins">
                    <!-- widgets -->

                    <li class="widget-container widget_recent_news">
                        <!-- widgets list -->

                        <!--<h1 class="title-widget">Contato</h1>-->
                        <br>
                        <br>
                        <br>
                        <div itemscope itemtype="http://data-vocabulary.org/Organization">

                            <h2 class="title-median m-contact-subject" itemprop="name">Secretaria</h2>

                            <div class="m-contact-address" itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                                <span class="m-contact-street" itemprop="street-address">Bloco D, 1º andar</span>
                            </div>

                            <div class="m-contact-tel-fax">
                                <span class="m-contact-tel">Tel: <span itemprop="tel">+55 (81) 2119-4175</span></span>
                            </div>

                        </div>

                    </li>

                </ul>

            </div>

        </div>
        <!-- widgets column center end -->

        <div class="col-lg-4 col-md-4">
            <!-- widgets column right -->

            <div class="col-padded col-naked">

                <ul class="list-unstyled clear-margins">
                    <!-- widgets -->

                    <li class="widget-container widget_sofa_flickr">
                        <!-- widgets list -->

                        <!--<h1 class="title-widget">Contato</h1>-->
                        <br>
                        <br>
                        <br>
                        <div itemscope itemtype="http://data-vocabulary.org/Organization">

                            <h2 class="title-median m-contact-subject" itemprop="name">Laboratório Inácio de Loyola</h2>

                            <div class="m-contact-address" itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                                <span class="m-contact-street" itemprop="street-address">Bloco G, 1º andar</span>
                            </div>

                            <div class="m-contact-tel-fax">
                                <span class="m-contact-tel">Tel: <span itemprop="tel">+55 (81) 2119-4006</span></span>
                            </div>

                        </div>
                    </li>

                </ul>

            </div>

        </div>
        <!-- widgets column right end -->

    </div>
    <!-- row end -->

</div>
<!-- container end -->
