<div id="k-sidebar" class="col-lg-4 col-md-4">
    <div class="col-padded col-shaded">
        <ul class="list-unstyled clear-margins">
            <li class="widget-container widget_course_search">
                <li class="widget-container widget_text">
                    <a href="http://www.unicap.br/biblioteca/pages/" target="_blanck" class="" title="Biblioteca Central">                          
                            <img src="/assets/img/biblioteca.jpg"/>
                        </a>
                    <a href="http://www.unicap.br/PortalProfessor/" target="_blanck" class="" title="Portal do Professor">
                           
                            <img src="/assets/img/portalProfessor.jpg"/> 
                   
                            
                        </a>
                    <a href="http://www.unicap.br/PortalGraduacao/" target="_blanck" class="" title="Portal do Aluno de Graduação">
                        

                        <img src="/assets/img/portal-graduacao.png" />

                        

                    </a>
                </li>
            </li>
        </ul>
    </div>
</div>