<div id="k-sidebar" class="col-lg-4 col-md-4">
    <div class="col-padded col-shaded">
        <ul class="list-unstyled clear-margins">
            <li class="widget-container widget_course_search">
                <li class="widget-container widget_text">
                    <a href="http://www.unicap.br/biblioteca/pages/" target="_blanck" class="" title="Biblioteca Central">                          
                        <img src="/assets/img/biblioteca.jpg"/>
                    </a>
                    <a href="http://www.unicap.br/PortalProfessor/" target="_blanck" class="" title="Portal do Professor">
                     
                        <img src="/assets/img/portalProfessor.jpg"/> 
                        
                        
                    </a>
                    <a href="http://www.unicap.br/PortalGraduacao/" target="_blanck" class="" title="Portal do Aluno de Graduação">
                        

                        <img src="/assets/img/portal-graduacao.png" />

                        

                    </a>

                    
                    <li>
                        <%= link_to 'Disciplinas', disciplines_path(), class: (controller_name=='discipline' ? 'active':'') %>
                    </li>
                    <li>
                      <%= link_to 'Professores', teachers_path(), class: (controller_name=='teachers' ? 'active':'') %>
                  </li>
                  <li>
                    <%= link_to 'Sobre', about_path(), class: (action_name=='about' ? 'active':'') %>
                </li>
            </li>
        </li>
    </ul>
</div>
</div>